---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="about-section" id="about">
  <br>
  <h4>Bio</h4>
  <p>
    {% assign bio = site.data.bio.bio %}
    {{ bio }}
  </div>

  <!-- ========== NEWS ========== -->
  <div class="docs-section" id="news">
    <h4>News</h4>

    <ul class="tab-nav">
      <li><div class="button active" data-ref="#news-2025">2025</div></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="news-2025">
        {% assign news2025 = site.data.news.news | where: "year", "2025" %}
        {% for news in news2025 %}
        <div class="news">
          <li>{{ news.content }}</li>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- ========== PUBLICATIONS ========== -->
  <div class="docs-section" id="publications">
    <h4>Publications</h4>
    <ul class="tab-nav">
      <li><div class="button active"
          data-ref="#papers-preprint">Preprint</div></li>
      <li><div class="button" data-ref="#papers-2025">2025</div></li>
      <li><div class="button" data-ref="#papers-all">All</div></li>
    </ul>

    <div class="tab-content">
      <!-- Tab: Preprint -->
      <div class="tab-pane active" id="papers-preprint">
        {% assign paperspreprint = site.data.publications.papers | where:
        "year",
        "preprint" %}
        {% for paper in paperspreprint %}
        <div class="paper">
          <div class="paper-container">
            <div class="paper-image">
              {% if paper.image %}
              <img src="{{ paper.image }}" alt="Paper thumbnail">
              {% else %}
              <div class="placeholder-image"></div>
              {% endif %}
            </div>
            <div class="paper-content">
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf }}"
                  target="_blank"><i
                    class="fa fa-file" aria-hidden="true"></i> Paper</a>
                {% endif %}
                {% if paper.code %}
                <a class="button" href="{{ paper.code }}" target="_blank"><i
                    class="fa fa-code" aria-hidden="true"></i> Code</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Tab: 2025 -->
      <div class="tab-pane" id="papers-2025">
        {% assign papers2025 = site.data.publications.papers | where: "year",
        "2025" %}
        {% for paper in papers2025 %}
        <div class="paper">
          <div class="paper-container">
            <div class="paper-image">
              {% if paper.image %}
              <img src="{{ paper.image }}" alt="Paper thumbnail">
              {% else %}
              <div class="placeholder-image"></div>
              {% endif %}
            </div>
            <div class="paper-content">
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf }}"
                  target="_blank"><i
                    class="fa fa-file" aria-hidden="true"></i> Paper</a>
                {% endif %}
                {% if paper.code %}
                <a class="button" href="{{ paper.code }}" target="_blank"><i
                    class="fa fa-code" aria-hidden="true"></i> Code</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Tab: All Papers -->
      <div class="tab-pane" id="papers-all">
        {% assign papersall = site.data.publications.papers %}
        {% for paper in papersall %}
        <div class="paper">
          <div class="paper-container">
            <div class="paper-image">
              {% if paper.image %}
              <img src="{{ paper.image }}" alt="Paper thumbnail">
              {% else %}
              <div class="placeholder-image"></div>
              {% endif %}
            </div>
            <div class="paper-content">
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf }}"
                  target="_blank"><i
                    class="fa fa-file" aria-hidden="true"></i> Paper</a>
                {% endif %}
                {% if paper.code %}
                <a class="button" href="{{ paper.code }}" target="_blank"><i
                    class="fa fa-code" aria-hidden="true"></i> Code</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- ========== PROJECTS ========== -->
  <div class="docs-section" id="projects">
    <h4>Projects</h4>

    <div class="tab-content">
      <!-- Tab: All Projects -->
      <div class="tab-pane-active" id="papers-all">
        {% assign projectsall = site.data.projects.projects %}
        {% for project in projectsall %}
        <div class="paper">
          <div class="paper-container">
            <div class="paper-image">
              {% if project.image %}
              <img src="{{ project.image }}" alt="Paper thumbnail">
              {% else %}
              <div class="placeholder-image"></div>
              {% endif %}
            </div>
            <div class="paper-content">
              <p class="title"><b>{{ project.title }}</b></p>
              <p>{{ project.frameworks }}</p>
              <p class="subtitle">{{ project.subtitle }}</p>
              <p><i>{{ project.venue }}</i></p>
              <div class="paper-buttons">
                {% if project.website %}
                <a class="button" href="{{ project.website }}"
                  target="_blank"><i class="fa fa-link"
                    aria-hidden="true"></i>
                  Website</a>
                {% endif %}
                {% if project.code %}
                <a class="button" href="{{ project.code }}" target="_blank"><i
                    class="fa fa-code" aria-hidden="true"></i> Code</a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- ========== RESUME ========== -->
    <div class="docs-section" id="resume">
      <h4>Vitæ</h4>

      <div class="paper-buttons">
        <a class="button" href="{{ site.data.main_info.cv }}"
          target="_blank">
          <i class="fa fa-file"
            aria-hidden="true"></i><span>CV</span>
        </a>
      </div>

      <!-- The Timeline -->
      <ul class="timeline">
        {% for exp in site.data.experience.experiences %}
        <li>
          {% if exp.category == "left" %}
          <div class="direction-l">
            {% if exp.image %}
            <img src="{{ site.baseurl }}{{ exp.image }}" alt="{{ exp.place }}"
              class="experience-image">
            {% endif %}
            <div class="flag-wrapper">
              <span class="flag">{{ exp.place }}</span>
              <span class="time-wrapper"><span class="time">{{ exp.time
                  }}</span></span>
            </div>
            <div class="desc"><b>{{ exp.title }}</b> <br /> {{ exp.subtitle
              }}</div>
          </div>
          {% else %}
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag">{{ exp.place }}</span>
              <span class="time-wrapper"><span class="time">{{ exp.time
                  }}</span></span>
            </div>
            <div class="desc"><b>{{ exp.title }}</b> <br /> {{ exp.subtitle
              }}</div>
            {% if exp.image %}
            <img src="{{ site.baseurl }}{{ exp.image }}" alt="{{ exp.place }}"
              class="experience-image">
            {% endif %}
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
